name: Generate family and faq HTML

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/generate.yml'
      - 'workflows/scripts/gen-family.js'
      - 'workflows/scripts/gen-faq.js'
      - 'family.yaml'
      - 'family.html'
      - 'faq/**/*.md'
      - 'faq/.template.html'
  pull_request:
    paths:
      - '.github/workflows/generate.yml'
      - 'workflows/scripts/gen-family.js'
      - 'workflows/scripts/gen-faq.js'
      - 'family.yaml'
      - 'family.html'
      - 'faq/**/*.md'
      - 'faq/.template.html'

permissions:
  contents: write

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '>=23.1.0'

    - name: Install dependencies
      run: npm install
    
    - name: Setup Git
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
  
  gen-family:
    runs-on: ubuntu-latest
    needs: setup

    steps:
    - name: Generate Family HTML and push changes
      run: node workflows/scripts/gen-family.js

    - name: Commit and push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        test -z "$(git status --porcelain)" && exit 0
        git add *.html
        git commit -m 'Generate Family HTML from YAML'
        git push
  
  gen-faq:
    runs-on: ubuntu-latest
    needs: gen-family
    if: ${{ always() }}

    steps:
    - name: Generate FAQ HTML and push changes
      run: node workflows/scripts/gen-faq.js

    - name: Commit and push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        test -z "$(git status --porcelain)" && exit 0
        git add faq/*.html
        git commit -m 'Generate FAQ HTML from Markdown'
        git push
